---
export interface Props {}
---

<div
  class:list={[
    'my-28 md:my-auto xl:text-[4.5rem] xl:leading-[5rem] md:text-[3.5rem] md:leading-[4rem] text-[1.75rem] leading-8 font-manrope',
  ]}
>
  <slot />
</div>
