---
import ReducedWidth from '~/components/Ui/ReducedWidth.astro';

export interface Props {
  onlyTitle?: boolean;
  reducedSpacingBelow?: boolean;
}

const { onlyTitle = false, reducedSpacingBelow = false } = Astro.props;
---

<ReducedWidth
  className={[
    'pt-44 no-only-strong:text-2xl [&_h1]:text-5xl [&_h1]:mb-6 [&_>_p]:my-14',
    !reducedSpacingBelow && 'pb-24',
  ]}
>
  {!onlyTitle && <slot />}
  {
    onlyTitle && (
      <h1>
        <slot />
      </h1>
    )
  }
</ReducedWidth>
