---
import { Container, TwoColumn, Column } from '~/components/Ui';
import Section from './Footer/Section.astro';
---

<Container className="bleed-bg bleed-purple-500 text-white py-8">
  <TwoColumn>
    <Column isCollapsible={false}>
      <Section title="Stay updated on our work">Form Here</Section>
    </Column>
    <Column isCollapsible={false}>
      <Section>
        This website is hosted on
        <a href="https://github.com/unitaryfund/unitary-fund">github</a>, and
        our community follows this <a
          href="https://github.com/unitaryfund/unitary-fund/blob/master/CODE_OF_CONDUCT.md"
          >code of conduct</a
        >. If you have suggestions for changes then please open up a pull
        request!
      </Section>
    </Column>
  </TwoColumn>
</Container>
