---
import SingleColumn from '~/components/Ui/Content/Column/Column';

export interface Props {
  title?: string;
  isCollapsible?: boolean;
  titleStyle?: 'simple' | 'marked' | 'strike';
}

const { title, isCollapsible = false, titleStyle = 'simple' } = Astro.props;

const columnProps = {
  title,
  isCollapsible,
  titleStyle,
};
---

<div class="mb-5">
  {
    !isCollapsible && (
      <SingleColumn {...columnProps} client:load>
        <slot />
      </SingleColumn>
    )
  }
  {
    isCollapsible && (
      <SingleColumn {...columnProps} client:only>
        <slot />
      </SingleColumn>
    )
  }
</div>
