---
export interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<div
  class:list={[
    'flex justify-between flex-wrap gap-x-6 direct-child:w-full direct-child:flex-grow md:direct-child:w-[calc(50%-theme(spacing.3))]',
    className,
  ]}
>
  <slot />
</div>
