---
import ReducedWidth from '~/components/Ui/ReducedWidth.astro';

export interface Props {
  className?: string;
  reducedWidth?: boolean;
}

const { className, reducedWidth = false } = Astro.props;
---

<div class:list={['2xl:container mx-auto px-10', className]}>
  {!reducedWidth && <slot />}
  {
    reducedWidth && (
      <ReducedWidth center>
        <slot />
      </ReducedWidth>
    )
  }
</div>
