---
export interface Props {
  className?: string;
  center?: boolean;
}

const { className, center = false } = Astro.props;
---

<div class:list={['max-w-2xl', center && 'mx-auto', className]}>
  <slot />
</div>
